.title a, .title span {
    color: #c300ff;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 2.5rem;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    font-style: italic;
    margin: 1rem 0;
    line-height: 0.3;
    font-size: 1rem;
  }