.nav {
    --maincolor: #c300ff;

    
    height: 50px;
    padding: 10px 0px 10px 0px;
    background: #000;
    border: 1px ;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--maincolor) ;
    user-select: none;
}


.logoName{
    height: auto;
    width: 80px;
    line-height: 1.1rem;
    font-weight: bold;
    color: var(--maincolor);
}

.links{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.link {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.link:hover{
    color: var(--maincolor);
}